@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 110% -15%;
}

#cta{
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}


input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-wrapper{
      width: 100%;
      height: 350px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }



@media(max-width: 576px){
    body{
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta{
        background-image: url('../images/bg-simplify-mobile.svg');


    }
}

/* hanburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    left:0;
    top:0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


/* using swiper.js */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */


/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */